<!doctype html>
<html lang="<%= config.language %>">
<head>
  <title><%- page.title %> | <%= config.title %></title>
  <%- partial('_partial/common-head') %>
  <%- open_graph({
    image: page.featured ? `/assets/images/${page.featured.image}/${page.featured.image}.jpg` : '',
    twitter_card: page.featured ? 'summary_large_image' : 'summary',
    twitter_id: 'memolog',
    twitter_site: 'https://twitter.com/memolog',
    fb_app_id: '168245123786587'
  }) %>
  <link rel="canonical" href="<%- page.permalink %>">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "<%- page.permalink %>"
      },
      "headline": "<%- page.title %>",
      <% if (page.featured && page.featured.image) { %>
        "image": [
          "https://memolog.org/assets/images/<%= page.featured.image %>/<%= page.featured.image %>.jpg"
        ],
      <% } %>
      "datePublished": "<%- page.date %>",
      "dateModified": "<%- page.updated %>",
      "author": {
        "@type": "Person",
        "name": "Yutaka Yamaguchi"
      },
      "publisher": {
        "@type": "Organization",
        "name": "メモログ",
        "logo": {
          "@type": "ImageObject",
          "url": "https://memolog.org/assets/icons/icon-1024.png"
        }
      },
      "description": "<%- remove_html(page.description || page.excerpt) %>"
    }
  </script>
</head>
<body class="post">
  <%- partial('_partial/common-header') %>
  <div class="container">
    <main class="main">
      <article>
        <header class="header">
          <div>
            <time datetime="<%- page.date.toISOString() %>">
              <span class="calendar-icon">📅</span><span><%- page.date.locale(config.language).format('LL') %></span>
            </time>
          </div>
          <h2 class="header__title"><span><%- page.title %></span></h2>
          <% if (page.featured) { %>
            <%- partial('_partial/feature-image', {featured: page.featured}) %>
          <% } %>
        </header>
        <div id="article-content" class="content <%- page.className %>"><%- page.content %></div>
        <%- partial('_partial/common-footer') %>
      </article>
    </main>
  </div>
  <%- partial('_partial/common-body-footer') %>
</body>
</html>
